In [9]:
import pandas as pd

In [10]:
# Exploring MIMIC dataset
RCT = pd.read_csv("./bsc_project_set.csv")

In [11]:
# Drop columns that are not present in RCT (to have a 'RCT' like dataset), used for external validation
RCT = RCT.drop(columns=['map', 'bilirubin', 'creatinine', 'platelets', 'urea', 'diastolic_blood_pressure'], axis=1)
RCT.head()

,Unnamed: 0,id,mort_28,age,sex,weight,height,pf_ratio,po2,pco2,...,lung_compliance,fio2,hco3,heart_rate,minute_volume,peep,plateau_pressure,respiratory_rate,syst_blood_pressure,peep_regime
0,0,32128372,False,75,F,93.0,168.0,241.944444,130.666667,28.111111,...,31.227273,50.000000,12.000000,115.408163,8.241111,8.777778,24.333333,18.943662,100.600000,low
1,1,34100191,False,47,M,127.0,183.0,166.356061,113.076923,34.461538,...,79.780702,68.500000,12.750000,115.407407,16.628571,7.375000,17.500000,19.857143,99.000000,low
2,2,38292466,False,85,M,77.5,170.0,224.000000,112.000000,38.000000,...,33.338235,51.818182,23.000000,70.041667,9.433333,5.000000,22.333333,15.833333,102.000000,low
3,3,32743332,False,85,M,90.7,170.0,205.714286,72.000000,38.000000,...,26.882353,36.875000,27.000000,70.480000,7.478571,5.000000,24.000000,18.200000,108.083333,low
4,4,35009126,True,64,M,70.0,183.0,173.777778,94.666667,38.666667,...,52.821226,52.500000,21.666667,73.955556,7.050000,5.428571,14.328571,15.016667,103.415094,low

In [12]:
RCT.to_csv('.\RCT.csv')